<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDhhK-lhBgO2hQ-6GSzzDw-a92VRbbY1xc</string>
	<key>GCM_SENDER_ID</key>
	<string>84969607265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zipaquira2</string>
	<key>PROJECT_ID</key>
	<string>zipaquira-app-ec6e6</string>
	<key>STORAGE_BUCKET</key>
	<string>zipaquira-app-ec6e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84969607265:ios:67d2cfadff226a1d2e1a20</string>
</dict>
</plist>